@charset "utf-8";

.main {
    padding: 20px;
}

.page_header_image {
    /*filter: sepia(50%);*/
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-area {
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    height: 100%;
}

.input-area {
    z-index: 999;
    margin-left: 1em;
}

.form-group {
    display: flex;
    margin-bottom: 0em;
}

.btn-submit {
    margin-left: 5%;
    margin-right: 5%;
}

.input-barcode {
    font-size: 20px;
}

th, td {
    padding: 10px 10px;
}

#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: rgb(108, 126, 125);
    position: fixed;
    top: 0%;
    z-index: 9999;
}
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

.cube1, .cube2 {
    background-color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% { 
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
.loaded {
    opacity: 0;
    visibility: hidden;
  }

.dnd {
    height: 10em;
    text-align: center;
    padding-top: 4em;
    border: 1px dotted #2e2e2e;
    border-radius: 5px;
    margin: 5%;
}

#preview-csv, #table-database, #main-database {
    margin: auto;
}

#preview-csv td {
	background: #ddd;
}
#preview-csv tr:nth-child(odd) td {
	background: #fff;
}

#dropFile {
    margin: auto;
    width: 120%;
}

#csvIO, #database {
    position: fixed;
    bottom: 0;
}

#database {
    margin-top: 2em;
    right: 1em;
    visibility: hidden;
}

#csvIO {
    left: 1em;
    background-color: rgba(255, 255, 255, 0.171);
    opacity: 20%;
}

#csvIO:hover {
    opacity: 100%;
}

#table-database td{
    background: #fff;
    font-size: 1em;
    font-weight: 500;
}

#table-database tr:nth-child(odd) td {
    background: #eee;
}

th {
    background: #eee;
}

.nav-icon {
    margin-right: 0.5em;
}

.centerize {
    margin: auto;
    text-align: center;
}

.inline {
    display: inline;
}

#main-table-area, #preview-table-area {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.main-table, .preview-table {
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.main-table thead tr, .preview-table thead tr {
    height: 60px;
    background-color: #36304a;
}

.main-table tbody tr, .preview-table tbody tr {
    height: 50px;
}

.main-table tr:nth-child(even), .preview-table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.main-table td, .preview-table td {
    font-weight: bolder;
}

.main-table th, .preview-table th {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    line-height: 1.2;
    font-size: 14px;
}

.column1 {
    width: 100px;
    padding-left: 20px;
}

.column2 {
    width: 10em;
    padding-left: 20px;
    text-align: left;
}

.column3 {
    width: 60px;
    text-align: right;
}

.column4 {
    width: 5px;
    text-align: right;
}

.column5 {
    width: 100px;
    text-align: right;
    padding-right: 20px;
}

#database2 {
    position: fixed;
    bottom: 0;
    right: 1em;
    opacity: 0.4;
}

#database2:hover {
    opacity: 1;
}
